<html>
<head>
<title>Austin Black Tech Demo</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
</head>
   <body>
    The ingredients you've specified make this/these drink: {{combine}} </br>
    </br>
    Here are the other drinks made from your ingredients:
    </br>
    {{ingredient1}}:{{ing1_drinks}}
    </br>
    {{ingredient2}}:{{ing2_drinks}}
    </br>
    {{ingredient3}}:{{ing3_drinks}}
    </br>
    Combined result:{{combine}}
    </br>
    </body>
</html>
